<h2 class="page-header">Buscar Libros</h2>
<form action="/books" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Titulo</label>
            <input type="text" name="title" value="<% searchOptions.name %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label>Publicado Despues de</label>
            <input type="date" name="publishedAfter" value="<% searchOptions.publishedAfter %>">
        </div>
        <div class="form-item">
            <label>Publicado Antes de</label>
            <input type="date" name="publishedBefore" value="<% searchOptions.publishedBefore %>">
        </div>
    </div>
    <div class="form-row form-row-end btn-row">
        <button class="btn btn-primary" type="submit">Buscar</button>
    </div>
</form>
<%- include('../partials/bookGrid.ejs', {larger: true}) %>