<header>
    <nav>
        <a class="header-title" href="/">MyShelf</a>
        <ul>
            <li class="header-link"><a href="/books">Libros</a></li>
            <li class="header-link"><a href="/books/new">Agregar Libro</a></li>
            <li class="header-link"><a href="/authors">Autores</a></li>
            <li class="header-link"><a href="/authors/new">Agregar Autor</a></li>
        </ul>
    </nav>
</header>