<h2 class="page-title">Editar Autor</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include('_form_fields.ejs') %> >
    <a href="/authors/<%= author.id %>">Cancel</a>
    <button type="submit">Actualizar</button>
</form>